.Main__card {
    margin: 24px 0 24px 0;
}

.Card__article {
    width: 223px;
    background-color: #bcdfde;
}

.Card__img {
    width: 120px;
}

.Card__text {
    font-size: 16px;
    text-align: left;
    margin: 13px 16px 16px 16px;
}

.Card__heading {
    text-align: left;
    margin: 16px 16px 0 16px;
    font-size: 24px;
}

@media (min-width: 430px) {
    .Card__article {
        width: 488px;
    }

    .Card__img {
        width: 184px;
    }
}